*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    /* add font through HTML file */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vH;
    color: white;
    background-image: url('https://freerangestock.com/sample/153273/a-blurry-image-of-a-red-and-blue-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    height: 100%;
    width: 100%;
}

.content {
    background:rgb(84, 33, 68, 49%);
    padding: 20px 22px;
    margin: auto;
    border-radius: 15px;
    text-align:center;
    max-width: 90%;
    min-width: 60px;
}

#moreContent {
    box-shadow: none;
}

/*TEXT*/

h1 {
    font-size: 5vh;
    margin: 0px 24px 16px;
    text-shadow: 3px 2px 5px rgba(15, 5, 15, 0.42);
}

p {
    font-size: 1em;
    
    margin-bottom: 20px;
}

/*IMAGES*/

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustration {
    max-width: 150px;
    border-radius: 10px;
}

/*BUTTONS*/

button {
    background-color: #542144;
    border: 3px solid #79496a;
    color: #ffcde9;
    padding: 2.5% 10%;
    margin-top: 18px;
    font-size: 1em;
    font-weight: bold;

    cursor: pointer;
    /*add transition transition: background-color 0.3s ease;*/
}

button:hover {
    background-color: #ffcde9;
    color: #542144;
}

.yesno, #restartButton {
    display: none;
}

.yesno {
    margin: 18px 10% 0px;
}

#restartButton {
    margin-top: 0px;
}

/* VIDEOS & LINKS */

iframe {
    margin-top: 18px;
}

/*RESPONSIVENESS*/

@media (max-width: 800px) {
    .content {
        margin: 10px auto 13px;
    }
    }

@media (max-width: 300px) {
    iframe {
        height: 100px
    }
    h1 {
      font-size: 1.4em;
    }
    p {
        font-size:0.9em
      }
    .content {
        max-width: 95%;
    }
  }

@media (min-width: 800px) {
    h1 {
      font-size: 3em
    }
    p {
        font-size:1.3em
      }
    .container {
        min-width: 100vh;
    }
  }
  